node_modules
**/node_modules
.pnpm-store
**/dist
**/.turbo
**/.vite
**/coverage
.git
.gitignore
.github
**/*.log
**/.env.local
**/.env.*.local
**/tsconfig.tsbuildinfo
**/tsconfig.*.tsbuildinfo
**/.cache
apps/web
apps/server/src
apps/server/test
apps/server/coverage
apps/server/.env
apps/server/.env.local
packages/shared/src
packages/shared/test
packages/shared/coverage
README.md
*.md
scripts
